{% extends 'base.html' %} 

{% block head_title %}
This is amazing!!!!
{% endblock head_title %}

{% block content %} 

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>


<div class='row' id='tweets'>
Loading...
</div>

<script>
const tweetsElement = document.getElementById("tweets")
{% comment %} tweetsElement.innerHTML = "Loading..."

var el1 = "<h1>HI there 1</h1>"
var el2 = "<h1>HI there 2</h1>"
var el3 = "<h1>HI there 3</h1>"
tweetsElement.innerHTML = el1 + el2 + el3 {% endcomment %}

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = "/tweets"
const responseType = "json"

function handleDidLike (tweet_id, currentCount) {
    console.log(tweet_id, currentCount)
}

function LikeBtn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
}

function fromatTweetElement(tweet) {
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto border round py-3 mb-4 tweet' id='" + tweet.id
     + "'><p>" + tweet.content +
     "</p><div class='btn-group'>" + LikeBtn(tweet) +
      "</div></div>"
    return formattedTweet
}

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    var finalTweetStr = ""
    var i;
    for(i=0; i<listedItems.length; i++) {
        var tweetObj = listedItems[i] 
        var currentItem = fromatTweetElement(tweetObj)
        finalTweetStr += currentItem
    }

    tweetsElement.innerHTML = finalTweetStr
    //console.log(listedItems)

}
xhr.send()


</script>

{% endblock content %}
